@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    text-align: center;
    /* background-color: #131313; */
    background: url(new.jpg);
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #0e1211;
    font-size: 40px;
}

table {
    margin: auto;
}

th {
    color: #140101;
}

input {
    font-size: 20px;
    padding: 5px;
    border: 5px rgb(4, 5, 6) solid;
    border-radius: 5px;
}

input:hover {
    background-color: black;
    color: white;
}

button {
    min-width: 120px;
    margin: 20px 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #FFFFFF;
    border: 5px rgb(4, 5, 6) solid;
    border-radius: 5px;
    font-weight: 600;
}

button:hover {
    background-color: black;
    color: white;
}

.countdown {
    display: flex;
    justify-content: center;
}

.heading {
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.time {
    background-color: #090909;
    color: #FFFFFF;
    font-size: 100px;
    width: 150px;
    margin: 0 10px;
}